
.footer-container {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px -2px 2px, rgba(17, 17, 26, 0.05) 0px -2px 2px; 
}

.ss-ftr-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ccc;
    border-radius: 12px;
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding: 7px 28px;
    background: none;
    border: none;
    transition: .1s;
    opacity: .8;
}

.ss-ftr-btn:active {
    opacity: .5;
    transform: scale(.9);
}

.ss-ftr-act {
    color: var(--button-pri);
    opacity: 1;
}

.footer-container>a>.material-icons {
    font-size: 25px;
}

.ss-ftr-btn-name {
    font-size: 10px;
    margin-top: 1px;
    font-family: poppins;
}

.ss-icons {
    font-size: 25px;
}

.ss-ftr-inact {
    color: #999;
}