<div class="container-box">
    <h3>{{containerHeading}}</h3>
    <textarea [(ngModel)]="inputText" #inputTextNode cols="30" rows="8"></textarea>
    <div class="action-box">
        <button (click)="clearInput()"><span class="material-symbols-outlined">cancel</span>Clear</button>
        <button (click)="encryptInput(inputTextNode)"><span class="material-symbols-outlined">lock</span>Encrypt</button>
        <button (click)="decryptInput(inputTextNode)"><span class="material-symbols-outlined">no_encryption</span>Decrypt</button>
    </div>
</div>