.data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.couponbox {
    position: relative;
    height: max-content;
    width: 30%;
    overflow: hidden;
    display: flex;
    border-radius: 20px;
    margin: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.responsive-iframe {
    width:100%;
    height:100px;
}

.watchnow > button {
    border: none;
}

.metadata {
    width: 100%;
    padding: 10px;
    flex-grow: 1;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.metadata > p {
    font-size: 12px;
    color: var(--text-color);
}

.watchnow-link {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 25%; */
    height: 100%;
    padding: 10px;
    background-color: var(--background-play);
}

.watchnow-link {
    color: white;
    text-decoration: none;
}

@media screen and (max-width:700px){
    .couponbox {
        width: 100%;
    }
}

@media screen and (min-width:700px) {
    .couponbox {
        width: 40%;
    }
}