
.data-filter-container {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    overflow: auto;
    z-index: 1;
}

.filter-button-container {
    display: flex;
}

.filter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    border-radius: 50px;
    font-size: 13px;
    border: none;
    background: white;
    margin: 5px;
}

.filter-button:hover {
    background-color: var(--filter-button-hover);
}

.filter-icon {
    font-size: 15px;
    margin-right: 5px;
}

.filter-action-icon {
    font-size: 20px;
    color: var(--menu-item-color);
}
