@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-lite: rgb(241, 221, 255);
    --background-dark: rgb(35, 7, 54);
    --background-filter-lite: rgb(248, 242, 253);
    --filter-button-lite: rgb(230, 205, 250);
    --filter-button-hover: rgb(252, 248, 255);
    --background-play: rgb(61, 6, 99);
    --font-name: 'Poppins', sans-serif;
    --heading-color: rgb(37, 0, 61);
    --button-pri: rgb(55, 11, 85);
    --button-pri-hover: rgb(89, 19, 136);
    --button-pri-active: rgb(109, 25, 165);
    --text-color: #5f5f5f;
    --inactive-filter-color: #444;
    --grey-lite: rgb(119, 117, 117);
    --grey-lite-hover: rgb(136, 134, 134);
    --grey-lite-active: rgb(165, 164, 164);
}

body {
    font-family: var(--font-name);
    background-color: var(--background-lite);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
}

button {
    cursor: pointer;
}

.home-page-view {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-box {
    padding: 12px 9px;
    border-radius: 12px;
    background: white;
    font-family: var(--font-name);
    box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:310px){
    .action-box>button {
        transform: scale(.8);
    }
}

@media screen and (max-width:700px){
    .resultbox-view {
        margin-top: 10px;
    } 
}

@media screen and (min-width:700px){
    .home-page-view {
        flex-direction: row;
    }    
    
    .encrypt-view, .resultbox-view {
        width: 50%;
    } 

    .resultbox-view {
        margin-left: 20px;
    } 
}
